/* #editor {
    position: relative;
    min-height: 70vh;
}
#editor canvas { 
    background-color: #ffff00;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    -webkit-mask-image: url(../media/bookmarktriangle.svg);
    mask-image: url(../media/bookmarktriangle.svg);
    mask-repeat: no-repeat;
    mask-position: center;
} */
#design:hover {
    cursor: pointer;
    opacity: .7;
}